@font-face {
  font-family: "Pretendard";
  src: url("./fonts/Pretendard-Regular.otf");
}

.img {
  position: absolute;
  height: 20px;
  width: 43.31002426147461px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.commentimg {
  position: absolute;

  height: 20px;
  width: 43.31002426147461px;
  left: 0px;
  top: 0px;
  border-radius: 0px;
}

.title {
  position: absolute;
  width: 255px;
  height: 64px;
  left: 20px;
  top: 104px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  /* or 128% */

  /* System Black 100 */

  color: #000000;
}

.title2 {
  position: absolute;
  width: 321px;
  height: 63px;
  left: 20px;
  top: 180px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */

  /* System Gray 03 */

  color: #666666;
}

.bgcolor {
  position: absolute;
  width: 340px;
  height: 243px;
  left: 20px;
  top: 268px;
  background: #fffaf8;
}
.commentName {
  position: absolute;
  width: 72px;
  height: 19px;
  left: 40px;
  top: 288px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  /* System Black 100 */

  color: #000000;
}

.comment {
  position: absolute;
  width: 49px;
  height: 17px;
  left: 40px;
  top: 319px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}

.comment2 {
  position: absolute;
  width: 25px;
  height: 17px;
  left: 103px;
  top: 319px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}
.comment3 {
  position: absolute;
  width: 49px;
  height: 17px;
  left: 40px;
  top: 344px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}
.comment4 {
  position: absolute;
  width: 140px;
  height: 17px;
  left: 103px;
  top: 344px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}
.comment5 {
  position: absolute;
  width: 25px;
  height: 17px;
  left: 40px;
  top: 369px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}
.comment6 {
  position: absolute;
  width: 53px;
  height: 17px;
  left: 103px;
  top: 369px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}
.comment7 {
  position: absolute;
  width: 25px;
  height: 17px;
  left: 40px;
  top: 394px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}
.comment8 {
  position: absolute;
  width: 25px;
  height: 17px;
  left: 103px;
  top: 394px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}
.comment9 {
  position: absolute;
  width: 49px;
  height: 17px;
  left: 40px;
  top: 419px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}
.comment10 {
  position: absolute;
  width: 69px;
  height: 17px;
  left: 103px;
  top: 419px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.comment11 {
  position: absolute;
  width: 37px;
  height: 17px;
  left: 40px;
  top: 444px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}

.comment12 {
  position: absolute;
  width: 37px;
  height: 17px;
  left: 103px;
  top: 444px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.slide {
  position: absolute;
  height: 379px;
  width: 360px;
  left: 30px;
  top: 500px;
  border-radius: 0px;
}

.imgsize {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.recommand {
  position: absolute;
  width: 18px;
  height: 22px;
  left: 20px;
  top: 935px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.recommand2 {
  position: absolute;
  width: 98px;
  height: 18px;
  left: 20px;
  top: 963px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.recommand3 {
  position: absolute;
  width: 320px;
  height: 44px;
  left: 20px;
  top: 997px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  /* System Black 100 */

  color: #000000;
}

.divider {
  position: absolute;
  width: 340px;
  height: 2px;
  left: 20px;
  top: 1057px;

  /* System Black 100 */

  background: #000000;
}
.divider2 {
  position: absolute;
  width: 340px;
  height: 1px;
  left: 20px;
  top: 1180px;

  background: rgba(0, 0, 0, 0.2);
}

.divider3 {
  position: absolute;
  width: 360px;
  height: 10px;
  left: 0px;
  top: 1479px;
}

.divider4 {
  position: absolute;
  width: 360px;
  height: 10px;
  left: 0px;
  top: 1901px;
}

.reason {
  position: absolute;
  width: 52px;
  height: 17px;
  left: 20px;
  top: 1075px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}

.reason2 {
  position: absolute;
  width: 320px;
  height: 60px;
  left: 20px;
  top: 1100px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* System Black 100 */

  color: #000000;
}

.giftcomment {
  position: absolute;
  width: 52px;
  height: 17px;
  left: 20px;
  top: 1197px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}

.giftcomment2 {
  position: absolute;
  width: 64px;
  height: 20px;
  left: 276px;
  top: 1197px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

.giftcomment3 {
  position: absolute;
  width: 52px;
  height: 17px;
  left: 20px;
  top: 1224px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  /* System Gray 03 */

  color: #666666;
}

.giftcomment4 {
  position: absolute;
  width: 320px;
  height: 60px;
  left: 20px;
  top: 1249px;
  white-space: pre-wrap;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  /* System Gray 03 */

  color: #666666;
}

.button {
  /* Rectangle 18 */

  position: absolute;
  width: 228px;
  height: 56px;
  left: 112px;
  top: 955px;
}

.button2 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 0px;
  top: 955px;

  /* System Gray 04 */

  background: #444444;
}

.button3 {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 56px;
  top: 955px;

  /* System Gray 04 */

  background: #444444;
}

.buttontext {
  position: absolute;
  width: 56px;
  height: 19px;
  left: 206px;
  top: 970px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* transform: translate(-50%, -50%); */

  /* System White */

  color: #ffffff;
}

.buttontext2 {
  position: absolute;
  width: 56px;
  height: 19px;
  left: 0px;
  top: 970px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* transform: translate(-50%, -50%); */

  /* System White */

  color: #ffffff;
}

.buttontext3 {
  position: absolute;
  width: 56px;
  height: 19px;
  left: 50px;
  top: 970px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  /* transform: translate(-50%, -50%); */

  /* System White */

  color: #ffffff;
}

.jb-wrap {
  margin: 10px auto;
  position: relative;
}

.qcomment {
  position: absolute;
  width: 122px;
  height: 16px;
  left: 40px;
  top: 1523px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #444444;
}

.qcomment2 {
  /* 친구에게 물어보기 */

  position: absolute;
  width: 129px;
  height: 22px;
  left: 40px;
  top: 1541px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */

  color: #000000;
}

.qicon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40px;
  top: 1571px;
}

.qicon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 40px;
  top: 1571px;
}

.qicon2 {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 66px;
  top: 1571px;
}

.qimg {
  position: absolute;
  width: 118px;
  height: 35px;
  left: 202px;
  top: 1539px;
}

.qbg {
  position: absolute;
  width: 320px;
  height: 94px;
  left: 20px;
  top: 1509px;
}
/* .q-wrap {
  position: relative;
} */

.beotitle {
  position: absolute;
  width: 119px;
  height: 31px;
  left: 119px;
  top: 1951px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;

  /* System Black 100 */

  color: #000000;
}

.beotitle2 {
  position: absolute;
  width: 240px;
  height: 18px;
  left: 60px;
  top: 1996px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.beoimg {
  position: absolute;
  width: 320px;
  height: 106px;
  left: 20px;
  top: 2046px;
}

.beoimg2 {
  position: absolute;
  width: 320px;
  height: 106px;
  left: 20px;
  top: 2167px;
}

.beocomment {
  position: absolute;
  width: 150px;
  height: 19px;
  left: 35px;
  top: 2069px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #49382e;
}
.beocomment2 {
  position: absolute;
  width: 145px;
  height: 40px;
  left: 35px;
  top: 2092px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* or 154% */

  color: #513f35;
}

.beocomment3 {
  position: absolute;
  width: 132px;
  height: 19px;
  left: 35px;
  top: 2190px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;

  color: #49382e;
}

.beocomment4 {
  position: absolute;
  width: 148px;
  height: 40px;
  left: 35px;
  top: 2213px;

  font-family: Pretendard;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  /* or 154% */

  color: #513f35;
}

.bottomimg {
  position: absolute;
  width: 360px;
  height: 275px;
  left: 0px;
  top: 2323px;
}
