@font-face {
  font-family: Spoqa Han Sans Neo;
  src: url("./fonts/SpoqaHanSansNeo-Regular.otf");
}
@font-face {
  font-family: Pretendard;
  src: url("./fonts/Pretendard-Regular.otf");
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background-size: cover;
  background-image: url("./img/main_image3.png");
}

.img {
  position: absolute;
  width: 164px;
  height: 38px;
  left: 227px;
  top: 199px;
}

.img-comment {
  position: absolute;
  width: 428px;
  height: 65px;
  left: 227px;
  top: 267px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 65px;
  /* identical to box height */

  color: #ffffff;
}

.img-comment2 {
  position: absolute;
  width: 382px;
  height: 65px;
  left: 227px;
  top: 342px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 54px;
  line-height: 65px;
  /* identical to box height */

  color: #ffffff;
}

.img-comment3 {
  position: absolute;
  width: 338px;
  height: 24px;
  left: 227px;
  top: 432px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}

.img-comment4 {
  position: absolute;
  width: 289px;
  height: 24px;
  left: 227px;
  top: 464px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  color: #ffffff;
}
.img-button {
  position: absolute;
  width: 207px;
  height: 50px;
  left: 227px;
  top: 537px;
}

.slide {
  position: absolute;
  width: 1440px;
  height: 371px;
  left: 0px;
  top: 100%;

  background: #beb0a7;
}

.beo-comment {
  position: absolute;
  width: 315px;
  height: 29px;
  left: 230px;
  top: 1475px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.beo-comment2 {
  position: absolute;
  width: 148px;
  height: 100px;
  left: 230px;
  top: 1748px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  /* System Black 100 */

  color: #000000;
}

.beo-comment3 {
  position: absolute;
  width: 386px;
  height: 56px;
  left: 230px;
  top: 1872px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  /* System Black 100 */

  color: #000000;
}

.beo-img {
  position: absolute;
  width: 490px;
  height: 880px;
  left: 720px;
  top: 1395px;
}

.beo-comment4 {
  position: absolute;
  width: 148px;
  height: 100px;
  left: 800px;
  top: 2465px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  /* System Black 100 */

  color: #000000;
}

.beo-comment5 {
  position: absolute;
  width: 302px;
  height: 56px;
  left: 800px;
  top: 2589px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  /* System Black 100 */

  color: #000000;
}

.beo-img2 {
  position: absolute;
  width: 371px;
  height: 230px;
  left: 230px;
  top: 2440px;
}

.beo-comment6 {
  position: absolute;
  width: 226px;
  height: 100px;
  left: 230px;
  top: 2985px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  /* System Black 100 */

  color: #000000;
}

.beo-comment7 {
  position: absolute;
  width: 376px;
  height: 56px;
  left: 230px;
  top: 3109px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */

  /* System Black 100 */

  color: #000000;
}

.beo-chatimg {
  position: absolute;
  width: 292px;
  height: 59px;
  left: 816px;
  top: 2947px;
}
.beo-chatimg2 {
  position: absolute;
  width: 61px;
  height: 39px;
  left: 1149px;
  top: 3019px;
}
.beo-chatimg3 {
  position: absolute;
  width: 330px;
  height: 81px;
  left: 816px;
  top: 3071px;
}
.beo-chatimg4 {
  position: absolute;
  width: 51px;
  height: 38px;
  left: 1159px;
  top: 3165px;
}

.beo-comment8 {
  position: absolute;
  width: 272px;
  height: 192px;
  left: 800px;
  top: 3615px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* or 133% */

  /* System Black 100 */

  color: #000000;
}

.beo-img3 {
  position: absolute;
  width: 490px;
  height: 880px;
  left: 230px;
  top: 3335px;
}

.bg.color {
  position: absolute;
  width: 1440px;
  height: 739px;
  left: 0px;
  top: 4315px;

  background: #fffaf5;
}

.review-comment {
  position: absolute;
  width: 183px;
  height: 34px;
  left: 231px;
  top: 4415px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  /* identical to box height */

  color: #49382e;
}

.review-comment2 {
  position: absolute;
  width: 226px;
  height: 58px;
  left: 230px;
  top: 4469px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;

  color: #49382e;
}

.review-img {
  position: absolute;
  width: 320px;
  height: 287px;
  left: 540px;
  top: 4347px;
}

.review-img2 {
  position: absolute;
  width: 320px;
  height: 267px;
  left: 540px;
  top: 4664px;
}

.review-img3 {
  position: absolute;
  width: 320px;
  height: 287px;
  left: 890px;
  top: 4398px;
}

.review-img4 {
  position: absolute;
  width: 320px;
  height: 257px;
  left: 890px;
  top: 4715px;
}

.gift-comment {
  position: absolute;
  width: 219px;
  height: 58px;
  left: 601px;
  top: 5154px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.gift-comment2 {
  position: absolute;
  width: 383px;
  height: 29px;
  left: 519px;
  top: 5232px;

  font-family: "Pretendard";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}

.gift-img {
  position: absolute;
  width: 470px;
  height: 156px;
  left: 230px;
  top: 5311px;
}

.gift-img2 {
  position: absolute;
  width: 470px;
  height: 156px;
  left: 740px;
  top: 5311px;
}

.faq {
  position: absolute;
  width: 59px;
  height: 38px;
  left: 691px;
  top: 5665px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 38px;
  /* identical to box height */

  /* System Black 100 */

  color: #000000;
}
.faq01 {
  position: absolute;
  width: 320px;
  height: 57px;
  left: 20px;
  top: 5452px;
}

.faq02 {
  position: absolute;
  width: 320px;
  height: 57px;
  left: 20px;
  top: 5529px;
}

.faq03 {
  position: absolute;
  width: 320px;
  height: 138px;
  left: 20px;
  top: 5606px;
}

.req-bg {
  position: absolute;
  width: 100%;
  height: 519px;
  left: 0px;
  top: 6110px;

  background-size: cover;
  background-image: url("./img/beo_bg03.png");
}

.req-comment {
  position: absolute;
  width: 262px;
  height: 150px;
  left: 230px;
  top: 6199px;

  font-family: Spoqa Han Sans Neo;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;

  color: #211f1f;
}

.req-button {
  position: absolute;
  width: 222px;
  height: 50px;
  left: 230px;
  top: 6379px;
}

.bottom {
  position: absolute;
  width: 360px;
  height: 323px;
  left: 0px;
  top: 6204px;
}

/* mini */
@media screen and (min-width: 360px) and (max-width: 1019px) {
  /* @font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url("./fonts/SpoqaHanSansNeo-Regular.otf");
  }
  @font-face {
    font-family: ""Pretendard"";
    src: url("./fonts/"Pretendard"-Regular.otf");
  } */

  .bg {
    position: absolute;
    width: 100%;
    max-height: 100%;
    left: 0px;
    top: 0px;
    /* display: flex; */

    background-size: cover;
    background-image: url("./img/main_image.png");
  }

  .img {
    position: absolute;
    width: 126px;
    height: 32px;
    left: 20px;
    top: 80px;
  }

  .img-comment {
    position: absolute;
    width: 80%;
    height: 38px;
    left: 20px;
    top: 128px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #ffffff;
  }

  .img-comment2 {
    position: absolute;
    width: 80%;
    height: 38px;
    left: 20px;
    top: 170px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #ffffff;
  }

  .img-comment3 {
    position: absolute;
    width: 237px;
    height: 17px;
    left: 20px;
    top: 216px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #ffffff;
  }

  .img-comment4 {
    position: absolute;
    width: 203px;
    height: 17px;
    left: 20px;
    top: 237px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;

    color: #ffffff;
  }
  .img-button {
    position: absolute;
    width: 335px;
    height: 50px;
    left: 20px;
    top: 732px;
  }

  .slider {
    position: absolute;
    width: 360px;
    height: 288px;
    left: 0px;
    top: 100%;
    background: #beb0a7;
  }
  .slider-container {
    height: 288px;
  }
  .slider-text {
    position: relative;
    width: 113px;
    height: 19px;
    left: 124px;
    top: 60px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #45332f;
  }
  .slider-text2 {
    position: relative;
    width: 287px;
    height: 51px;
    left: 37px;
    top: 99px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
  }
  .slider-text3 {
    position: relative;
    width: 122px;
    height: 14px;
    left: 119px;
    top: 178px;

    font-family: Pretendard;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
  }

  .slider-text4 {
    position: relative;
    width: 248px;
    height: 51px;
    left: 416px;
    top: 99px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
  }

  .slider-text5 {
    position: relative;
    width: 125px;
    height: 14px;
    left: 478px;
    top: 178px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
  }

  .slider-text6 {
    position: relative;
    width: 335px;
    height: 51px;
    left: 733px;
    top: 99px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
  }

  .slider-text7 {
    position: relative;
    width: 133px;
    height: 14px;
    left: 834px;
    top: 178px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #000000;
  }

  /* .beo {
    position: absolute;
    width: 100%;
    height: 758px;
    left: 0px;
    top: 1312px;
    background-color: #4d1616;
  } */

  .beo-comment {
    position: absolute;
    width: 210px;
    height: 19px;
    left: 75px;
    top: 988px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #000000;
  }

  .beo-comment2 {
    position: absolute;
    width: 96px;
    height: 66px;
    left: 132px;
    top: 1067px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #000000;
  }

  .beo-comment3 {
    position: absolute;
    width: 290px;
    height: 44px;
    left: 36px;
    top: 1157px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */

    color: #000000;
  }

  .beo-img {
    position: absolute;
    width: 270px;
    height: 484.9px;
    left: 45px;
    top: 1201px;
  }

  .beo-comment4 {
    position: absolute;
    width: 25.8%;
    height: 66px;
    left: 132px;
    top: 1786px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
  }

  .beo-comment5 {
    position: absolute;
    width: 227px;
    height: 44px;
    left: 63px;
    top: 1876px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */

    text-align: center;

    color: #000000;
  }

  .beo-img2 {
    position: absolute;
    width: 256px;
    height: 129px;
    left: 52px;
    top: 1990px;
  }

  .beo-comment6 {
    position: absolute;
    width: 37.8%;
    height: 66px;
    left: 107px;
    top: 2323px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;

    color: #000000;
  }

  .beo-comment7 {
    position: absolute;
    width: 320px;
    height: 44px;
    left: 20px;
    top: 2413px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    /* or 147% */

    text-align: center;

    color: #000000;
  }

  .beo-chatimg {
    position: absolute;
    width: 275px;
    height: 56px;
    left: 20px;
    top: 2502px;
  }
  .beo-chatimg2 {
    position: absolute;
    width: 57px;
    height: 36px;
    left: 283px;
    top: 2573px;
  }
  .beo-chatimg3 {
    position: absolute;
    width: 298px;
    height: 74px;
    left: 20px;
    top: 2626px;
  }
  .beo-chatimg4 {
    position: absolute;
    width: 48px;
    height: 36px;
    left: 292px;
    top: 2715px;
  }

  .beo-comment8 {
    position: absolute;
    width: 42.8%;
    height: 126px;
    left: 95px;
    top: 2881px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 42px;
    /* or 140% */

    text-align: center;

    color: #000000;
  }

  .beo-img3 {
    position: absolute;
    width: 270px;
    height: 484.9px;
    left: 45px;
    top: 3022px;
  }

  .bg.color {
    position: absolute;
    width: 360px;
    height: 1270px;
    left: 0px;
    top: 3589px;

    background: #fffaf5;
  }

  .review-comment {
    position: absolute;
    width: 132px;
    height: 24px;
    left: 115px;
    top: 3649px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    text-align: center;

    color: #49382e;
  }

  .review-comment2 {
    position: absolute;
    width: 170px;
    height: 44px;
    left: 96px;
    top: 3685px;
    white-space: pre-wrap;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #49382e;
  }

  .review-img {
    position: absolute;
    width: 320px;
    height: 250px;
    left: 20px;
    top: 3769px;
  }

  .review-img2 {
    position: absolute;
    width: 320px;
    height: 253px;
    left: 20px;
    top: 4039px;
  }

  .review-img3 {
    position: absolute;
    width: 320px;
    height: 230px;
    left: 20px;
    top: 4312px;
  }

  .review-img4 {
    position: absolute;
    width: 320px;
    height: 227px;
    left: 20px;
    top: 4562px;
  }

  .gift-comment {
    position: absolute;
    width: 119px;
    height: 31px;
    left: 119px;
    top: 4943px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;

    color: #000000;
  }

  .gift-comment2 {
    position: absolute;
    width: 240px;
    height: 18px;
    left: 60px;
    top: 4991px;

    font-family: "Pretendard";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: #000000;
  }

  .gift-img {
    position: absolute;
    width: 320px;
    height: 106px;
    left: 20px;
    top: 5047px;
  }

  .gift-img2 {
    position: absolute;
    width: 320px;
    height: 106px;
    left: 20px;
    top: 5168px;
  }

  .faq {
    position: absolute;
    width: 43px;
    height: 28px;
    left: 159px;
    top: 5374px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    /* identical to box height */

    color: #000000;
  }
  .faq01 {
    position: absolute;
    width: 320px;
    height: 57px;
    left: 20px;
    top: 5452px;
  }

  .faq02 {
    position: absolute;
    width: 320px;
    height: 57px;
    left: 20px;
    top: 5529px;
  }

  .faq03 {
    position: absolute;
    width: 320px;
    height: 138px;
    left: 20px;
    top: 5606px;
  }

  .req-bg {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 5804px;

    background-size: cover;
    background-image: url("./img/beo_bg01.png");
  }

  .req-comment {
    position: absolute;
    width: 152px;
    height: 90px;
    left: 104px;
    top: 5834px;

    font-family: Spoqa Han Sans Neo;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;

    color: #211f1f;
  }

  .req-button {
    position: absolute;
    width: 159px;
    height: 37px;
    left: 101px;
    top: 5938px;
  }

  .bottom {
    position: absolute;
    width: 360px;
    height: 323px;
    left: 0px;
    top: 6204px;
  }

  .bottom-button {
    position: absolute;
    width: 320px;
    height: 50px;
    left: 20px;
    top: 6567px;
  }

  .bottom-40 {
    position: absolute;
    width: 320px;
    height: 50px;
    left: 20px;
    top: 6607px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1439px) {
  .all {
    align-items: center;
  }
  .bg {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    /* display: flex; */

    background-size: cover;
    background-image: url("./img/main_image2.png");
  }

  .img {
    width: 164px;
    height: 38px;
  }

  .img-comment {
    width: 349px;
    height: 53px;
    left: 20px;
    top: 148px;

    font-size: 44px;
    line-height: 53px;
  }

  .img-comment2 {
    width: 311px;
    height: 53px;
    left: 20px;
    top: 209px;

    font-size: 44px;
    line-height: 53px;
  }

  .img-comment3 {
    width: 305px;
    height: 22px;
    left: 20px;
    top: 287px;

    font-size: 18px;
    line-height: 22px;
  }

  .img-comment4 {
    width: 261px;
    height: 22px;
    left: 20px;
    top: 317px;

    font-size: 18px;
    line-height: 22px;
  }
  .img-button {
    position: absolute;
    width: 335px;
    height: 50px;
    left: 20px;
    top: 732px;
  }

  .slide {
    width: 1020px;
    height: 288px;
    left: 0px;
    top: 100%;
  }

  .beo-comment {
    left: 405px;
    top: 1372px;
  }

  .beo-comment2 {
    width: 96px;
    height: 66px;
    left: 462px;
    top: 1451px;
  }

  .beo-comment3 {
    width: 289px;
    height: 44px;
    left: 366px;
    top: 1541px;
  }

  .beo-img {
    left: 375px;
    top: 1585px;
  }

  .beo-comment4 {
    left: 462px;
    top: 2170px;
  }

  .beo-comment5 {
    left: 393px;
    top: 2260px;
  }

  .beo-img2 {
    position: absolute;
    width: 256px;
    height: 178px;
    left: 382px;
    top: 2349px;
  }

  .beo-comment6 {
    left: 437px;
    top: 2707px;
  }

  .beo-comment7 {
    left: 350px;
    top: 2797px;
  }

  .beo-chatimg {
    left: 350px;
    top: 2886px;
  }
  .beo-chatimg2 {
    left: 613px;
    top: 2957px;
  }
  .beo-chatimg3 {
    left: 350px;
    top: 3010px;
  }
  .beo-chatimg4 {
    left: 622px;
    top: 3099px;
  }

  .beo-comment8 {
    left: 425px;
    top: 3286px;
  }

  .beo-img3 {
    left: 375px;
    top: 3427px;
  }

  .bg.color {
    position: absolute;
    width: 360px;
    height: 1270px;
    left: 0px;
    top: 3589px;

    background: #fffaf5;
  }

  .review-comment {
    left: 445px;
    top: 4054px;
  }

  .review-comment2 {
    left: 426px;
    top: 4090px;
  }

  .review-img {
    left: 350px;
    top: 4174px;
  }

  .review-img2 {
    left: 350px;
    top: 4694px;
  }

  .review-img3 {
    left: 350px;
    top: 4444px;
  }

  .review-img4 {
    left: 350px;
    top: 4967px;
  }

  .gift-comment {
    left: 449px;
    top: 5348px;
  }

  .gift-comment2 {
    left: 390px;
    top: 5396px;
  }

  .gift-img {
    left: 350px;
    top: 5452px;
  }

  .gift-img2 {
    left: 350px;
    top: 5573px;
  }

  .faq {
    left: 489px;
    top: 5779px;
  }
  .faq01 {
    position: absolute;
    width: 320px;
    height: 57px;
    left: 20px;
    top: 5452px;
  }

  .faq02 {
    position: absolute;
    width: 980px;
    height: 57px;
    left: 20px;
    top: 6020px;
  }

  .faq03 {
    position: absolute;
    width: 980px;
    height: 57px;
    left: 20px;
    top: 6097px;
  }

  .req-bg {
    width: 1020px;
    height: 400px;
    left: 0px;
    top: 6214px;
    background-image: url("./img/beo_bg02.png");
  }

  .req-comment {
    width: 152px;
    height: 90px;
    left: 434px;
    top: 6244px;
  }

  .req-button {
    left: 431px;
    top: 6348px;
  }

  .bottom {
    position: absolute;
    width: 1020px;
    height: 323px;
    left: 0px;
    top: 6614px;
  }

  .bottom-button {
    position: absolute;
    width: 950px;
    height: 50px;
    left: 35px;
    top: 6963px;
  }

  .bottom-40 {
    position: absolute;
    width: 320px;
    height: 50px;
    left: 20px;
    top: 7003px;
  }
}
